@layer base {
  body {
    @apply text-neutral-800;

    @variant dark {
      @apply bg-neutral-700 text-white;
    }
  }
}

/* Material UI base styles */
@layer base {
  h1 {
    letter-spacing: -0.01562em;
  }

  h2 {
    letter-spacing: -0.00833em;
  }

  h4 {
    letter-spacing: 0.00735em;
  }
  h6 {
    letter-spacing: 0.0075em;
  }

  p {
    letter-spacing: 0.00938em;
  }

  span {
    letter-spacing: 0.01071em;
  }
}
