@layer mui {
  :root {
    --mui-palette-primary-main: var(--color-primary);
    --mui-palette-primary-dark: var(--color-primary-dark);
    --mui-palette-primary-light: var(--color-primary-light);
  }
}
